.part:nth-child(n + 2) {
  margin-top: 16px;
}
.part_title {
  font-size: 40px;
  color: #008dff;
  font-weight: bold;
}

.part_item_title {
  margin: 56px 0 24px;
  font-size: 20px;
  color: #008dff;
  font-weight: bold;
}

.part_content {
  padding: 20px;
  margin-top: 16px;
  border: 1px solid #ddd;
}

.desc {
  margin-bottom: 16px;
  color: #5e6d82;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  background-color: #ecf8ff;
  padding: 8px 16px;
}

.code_container {
  margin-top: 16px;
}
