// flex布局
.flex {
  display: flex;
}
.align_items,
.items_center {
  display: flex;
  align-items: center;
}

.align_items_wrap,
.items_center_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.items_start {
  display: flex;
  align-items: flex-start;
}
.items_end {
  display: flex;
  align-items: flex-end;
}
.flex_center_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.space_between {
  display: flex;
  justify-content: space-between;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.flex-1 {
  flex: 1;
}
