@import "./reset.scss";
@import "./font.scss";
@import "./flex.scss";
@import "./vue-element-admin.scss";
@import "./theme.scss";
@import "./element-ui.scss";

body {
  font-size: 12px;
  line-height: 1;
  color: #333;
  background-color: #eaecef;
}

.health {
  img {
    width: 100%;
    height: 100%;
  }
}
