.health {
  // vue-element-admin 的样式重置1
  .app-main {
    padding: 16px;
    box-sizing: border-box;
    background-color: #eaecef !important;
  }

  .app-main-content {
    min-height: calc(100vh - 50px - 32px);
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff !important;
  }

  .hasTagsView {
    .app-main-content {
      /* 84 = navbar + tags-view = 50 + 34 */
      // min-height: calc(100vh - 84px);
      min-height: calc(100vh - 84px - 32px);
    }
  }
}
